.single-question {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 20px 0;

    &__date {
        padding-bottom: 10px;
    }
    &__chat-with {
        text-align: right;
        padding-bottom: 10px;
    }
    &__question {
    }
    &__answer {
        margin-top: 20px;
    }
    &__link {
        align-self: flex-end;
        text-align: right;

        img {
            position: relative;
            top: -1px;
            right: -2px;
        }
    }
}