.chat-input {
    margin-top: 25px;

    .form-control {
        width: 80%;
        float: left;
    }
    &__buttons {
        img {
            margin-right: 15px;
            cursor: pointer;
        }
        float:right;
    }
}